
  
.gradient-custom {
    /* fallback for old browsers */
    background: #422769;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom, rgba(66, 39, 105, 1), rgba(255, 255, 255, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom, rgba(66, 39, 105, 1), rgba(255, 255, 255, 1))
  }