
body{
  margin-bottom: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  font-family:cursive;
}


header {
  padding: 40px;
  text-align: center;
  background:#422769;
  color: white;
  font-size: 20px;
}

p{
  text-align: center;
  padding-left:60px ;
  padding-right:60px ;
}


#tbInpuzt {
  
}

input[type=text], select {
    padding: 4px;
    margin: 8px 0;
    text-align: center; 
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 120%;
  }
  
  fieldset {
    width: 600px;
    margin: auto;
    background-color: blanchedalmond;
  }
  



  #social1, #social2{
    color: white; 
    border-radius: 6px;
    margin: 15px; 
    list-style-position: inside;
    text-align: center; 
  }

  .copyright{
    color:white; 
    border-radius: 6px;
    margin: 15px; 
    font-size: 120%;
    text-align: center; 
    list-style-position: inside; 
  }

  #btn{
    text-align: center; 
    list-style-position: inside; 
  }

  #submitBtn{
    margin-right: 10px; 
  }

  #btnCle{
    margin-left: 10px; 
  }

  #btnDel{
    margin-left: 10px; 
  }


  footer{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: #b6be00;
    text-align: center; 
    list-style-position: inside; 
  }