$purple: rgba(89, 65, 123, 1);
$input-box-grey: rgba(181, 171, 196, 1);
$green: rgba(182, 190, 0, 1);
$purple-dark:rgba(72, 46, 111, 1);
$error-orange: rgba(256, 143, 10, 1);
$grey: rgba(213, 209, 223, 1);